<%- layout("/layouts/boilerplate") %>
<div class="min-h-screen flex flex-col">
  <main class="flex-grow">
    <!-- heo -->
    <%- include("../partials/hero") %>
    <!-- category -->
    <%- include("../partials/category") %>
  </main>
</div>
