<div class="w-full h-[30rem] my-5">
  <!-- category text -->
  <div class="w-full h-[20%] p-7">
    <div><p class="text-3xl font-bold">Shop By Categories</p></div>
  </div>
  <!-- category -->
  <div class="w-full h-[80%] flex justify-evenly items-center">
    <!-- card-1 -->
    <div
      class="w-[20%] h-[80%] bg-category bg-contain bg-center bg-no-repeat flex justify-center items-center relative"
    >
      <button
        class="absolute bottom-3 px-[3rem] py-[1rem] rounded-md bg-gray-200 hover:bg-slate-400"
      >
        Casual wear
      </button>
    </div>
    <div
      class="w-[20%] h-[80%] bg-category bg-contain bg-center bg-no-repeat flex justify-center items-center relative"
    >
      <button
        class="absolute bottom-3 px-[3rem] py-[1rem] rounded-md bg-gray-200 hover:bg-slate-400"
      >
        Casual wear
      </button>
    </div>
    <div
      class="w-[20%] h-[80%] bg-category bg-contain bg-center bg-no-repeat flex justify-center items-center relative"
    >
      <button
        class="absolute bottom-3 px-[3rem] py-[1rem] rounded-md bg-gray-200 hover:bg-slate-400 transition-all"
      >
        Casual wear
      </button>
    </div>
    <div
      class="w-[20%] h-[80%] bg-category bg-contain bg-center bg-no-repeat flex justify-center items-center relative"
    >
      <button
        class="absolute bottom-3 px-[3rem] py-[1rem] rounded-md bg-gray-200 hover:bg-slate-400"
      >
        Casual wear
      </button>
    </div>
  </div>
</div>
