<footer class="w-full h-[14rem] ">
  <!-- main div -->
  <div class="w-full h-full bg-[#131118] flex px-20 py-4 justify-evenly">
    <!-- first div -->
    <div
      class="h-full w-[20%] flex flex-col gap-[0.5rem] items-center justify-start"
    >
      <!-- logo -->
      <div
        class="w-[6rem] h-[3rem] bg-sign-in bg-center bg-contain bg-no-repeat my-3 mr-28 bg-white"
      ></div>
      <!-- text -->
      <div>
        <p class="text-[#757377] mb-2">
          <i class="fa-solid fa-phone-volume mr-2"></i>+(704) 5550127
        </p>
        <p class="text-[#757377] mb-2">
          <i class="fa-solid fa-envelope mr-2"></i>krist@example.com
        </p>
        <p class="text-[#757377] text-left">
          <i class="fa-solid fa-location-dot mr-2"></i>
          3891 Ranchview Dr. Richardson, California 62639
        </p>
      </div>
    </div>
    <!-- second div -->
    <div class="h-full w-[20%] pt-3">
      <ul class="flex flex-col gap-[0.5rem] items-center text-[#757377]">
        <p class="text-[#fefefe]">Information</p>
        <li><a href="">My Account</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">My Cart</a></li>
        <li><a href="">My Wishlist</a></li>
        <li><a href="">Checkout</a></li>
      </ul>
    </div>

    <!-- third div -->
    <div class="h-full w-[20%] pt-3">
      <ul class="flex flex-col gap-[0.5rem] items-center text-[#757377]">
        <p class="text-[#fefefe]">Service</p>
        <li><a href="">About Us</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Delivery Information</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
      </ul>
    </div>

    <!-- fourth div -->
    <div class="h-full w-[20%] pt-3">
      <div class="flex flex-col gap-[0.5rem] items-start text-[#757377]">
        <p class="text-[#fefefe] font-semibold">Subscribe</p>
        <p class="text-[#757377]">
          Enter your email below to be the first to know about new collections
          and product launches.
        </p>

        <button
          type="submit"
          class="mt-3 px-4 py-2 bg-transparent outline outline-2 outline-[#757377] text-white rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          your Email →
        </button>
      </div>
    </div>
  </div>
</footer>
