<div class="w-full h-[40rem] bg-gray-200 border-[10px] border-white flex">
  <!-- left div -->
  <div class="w-[50%] h-full flex flex-col justify-center items-center gap-6">
    <p class="text-3xl">Classic Exclusive</p>
    <p class="font-extrabold text-5xl">Women's Collection</p>
    <p class="text-3xl">Upto 40% Off</p>
    <button
      class="px-[2rem] py-[0.5rem] bg-black text-white rounded-md hover:text-black hover:bg-white transition-all"
    >
      <a href="">Shop now</a>
    </button>
  </div>
  <!-- right div -->
  <div
    class="w-[50%] h-full bg-hero bg-contain bg-no-repeat bg-top relative"
  ></div>
</div>
