<nav class="w-full h-[5rem]">
  <!-- main div -->
  <div class="w-full h-full flex justify-around items-center px-[3rem]">
    <!-- logo-div -->
    <div
      class="w-[6rem] h-[3rem] bg-sign-in bg-center bg-contain bg-no-repeat"
    ></div>
    <!-- list-items -->
    <div class="flex items-center gap-6">
      <a href="http://localhost:3000/api/v1/home">Home</a>
      <a href="">Shop <i class="fa-solid fa-caret-down"></i></a>
      <a href="">Our Story</a>
      <a href="">Blog</a>
      <a href="">Contact us</a>
    </div>
    <!-- right icons -->
    <div class="flex items-center gap-6">
      <i class="fa-solid fa-1xl fa-magnifying-glass"></i>
      <i class="fa-regular fa-1xl fa-heart"></i>
      <i class="fa-solid fa-1xl fa-bag-shopping"></i>
      <button
        class="px-[2rem] py-[0.5rem] bg-black text-white rounded-md hover:text-black hover:bg-white transition-all"
      >
        <a href="http://localhost:3000/api/v1/auth/login">Login</a>
      </button>
    </div>
  </div>
</nav>
